// Заголовок секции с квартирами
.apartments__title {

    // Внешний нижний отступ
    margin-bottom: 88px;
}

// Блок с карточками квартир
.apartments__cards {

    // Превращаем элемент в грид-контейнер
    display: grid;

    // Разбиваем элементы на две колонки
    grid-template-columns: repeat(2, 1fr);

    // Разбиваем элементы на колонки автоматически в зависимости от ширины экрана
    // (Ширина колонок ограничена заданным диапазоном)
    // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

    // Расстояние между элементами
    gap: 30px;
}
