// Секция с квартирами
.apartments {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Псевдоэлемент до элемента
    &::before {

        // Содержимое псевдоэлемента
        content: "III";

        // Позиция псевдоэлемента
        right: calc(50% + 555px);

        // Сдвигаем псевдоэлемент
        transform: translate(50%, 0);

        // Подключаем миксин со стилем для декоративных римских чисел
        @include decorNumber;
    }
}

// Заголовок секции с квартирами
.apartments__title {

    // Внешний нижний отступ
    margin-bottom: 88px;

    // При планшетном размере экрана
    @include mediaTablet {

        // Внешний нижний отступ
        margin-bottom: 44px;
    }
}

// Блок с карточками квартир
.apartments__cards {

    // Превращаем элемент в грид-контейнер
    display: grid;

    // Разбиваем элементы на две колонки
    grid-template-columns: repeat(2, 1fr);

    // Расстояние между элементами
    gap: 30px;

    // При планшетном размере экрана
    @include mediaTablet {

        // Разбиваем элементы на колонки автоматически в зависимости от ширины экрана
        // (Ширина колонок ограничена заданным диапазоном)
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}
