// Секция с преимуществами
.benefits {

    // Скрываем объекты, выходящие за пределы элемента
    overflow: hidden;

    // Статично позиционирование с возможностью сдвига
    // (Родитель для абсолютно позиционируемых элементов)
    position: relative;

    // Внутренние отступы
    padding: 120px 0;

    // Псевдоэлемент после элемента
    &::after {

        // Содержимое псевдоэлемента
        content: "II";

        // Позиция псевдоэлемента
        left: calc(50% + 555px);

        // Сдвигаем псевдоэлемент
        transform: translate(-50%, 0);

        // Подключаем миксин со стилем для декоративных римских чисел
        @include decorNumber;
    }
}

// Блок со строкой элементов преимуществ
.benefits__row {

    // Превращаем элемент во флекс контейнер
    display: flex;

    // Расстояние между элементами
    column-gap: 70px;

    // При планшетном размере экрана
    @include mediaTablet {

        // Превращаем элемент в грид-контейнер
        display: grid;

        // Добавляем автоматическое разбиение на колонки
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

        gap: 40px 30px;
    }
}

// Блоки с элементом преимущества
.benefits__item {

    // Выравниваем содержимое по центру
    text-align: center;
}

// Иллюстрация к элементу преимущества
.benefits__item-img {
    
    // Внешний нижний отступ
    margin-bottom: 53px;

    // При планшетном размере экрана
    @include mediaTablet {

        // Размеры
        width: 60px;
        height: 50px;

        // Внешний нижний отступ
        margin-bottom: 20px;
    }
}

// Текст описания элемента преимущества
.benefits__item-text {

    // Размер текста
    font-size: 20px;

    // Интервал между строками
    line-height: 1.35;

    // Шрифт
    font-family: $font-secondary;

    // Начертание шрифта
    font-weight: 300;

    // При планшетном размере экрана
    @include mediaTablet {

        // Размер текста
        font-size: 16px;
    }
}
