// Секция с преимуществами
.benefits {

    // Внутренние отступы
    padding: 120px 0;
}

// Блок со строкой элементов преимуществ
.benefits__row {

    // Превращаем элемент во флекс контейнер
    display: flex;

    // Расстояние между элементами
    column-gap: 70px;
}

// Блоки с элементом преимущества
.benefits__item {

    // Выравниваем содержимое по центру
    text-align: center;
}

// Иллюстрация к элементу преимущества
.benefits__item-img {
    
    // Внешний нижний отступ
    margin-bottom: 53px;
}

// Текст описания элемента преимущества
.benefits__item-text {

    // Размер текста
    font-size: 20px;

    // Интервал между строками
    line-height: 1.35;

    // Шрифт
    font-family: $font-secondary;

    // Начертание шрифта
    font-weight: 300;
}
