// Блок с карточкой
.card {

    // Скрываем всё, что выходит за пределы элемента
    overflow: hidden;

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Строчно-блочное отображение элемента
    display: inline-block;

    // Псевдоэлемент перед элементом (градиентный фон)
    &::before {

        // Содержимое псевдоэлемента
        content: "";

        // Абсолютное позиционирование
        position: absolute;

        // Позиция псевдоэлемента
        z-index: 6;
        left: 0;
        top: 0;

        // Размеры псевдоэлемента
        width: 100%;
        height: 100%;

        // Фон
        background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, $dark 100%);
    }

    // Псевдоэлемент после элемента (рамка)
    &::after {

        // Непрозрачность элемента
        opacity: 0;

        // Содержимое псевдоэлемента
        content: "";

        // Абсолютное позиционирование
        position: absolute;

        // Позиция псевдоэлемента
        z-index: 7;
        left: 15px;
        top: 15px;
        right: 15px;
        bottom: 15px;

        // Граница псевдоэлемента
        border: 3px double rgba(255, 255, 255, 0.4);

        // Плавный переход при изменении непрозрачности 
        transition: opacity 0.2s ease-in;
    }

    // Псевдоэлемент после элемента при наведении курсора
    &:hover::after {

        // Непрозрачность
        opacity: 1;
    }

    // Элемент при наведении курсора
    &:hover {

        // Цвет текста
        color: $white;
    }
}

// Иллюстрация карточки
.card__img {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Высота слоя элемента
    z-index: 5;

    // Плавное изменение всех свойств элемента
    transition: all 0.2s ease-in;
}

// Иллюстрация карточки при наведении курсора на блок карточки
.card:hover .card__img {

    // Увеличиваем размер элемента
    transform: scale(1.1);

    // Фильтр для изменения характеристик изображения 
    filter: contrast(1.1) brightness(1.2) saturate(1.2);
}

// Заголовок карточки
.card__title {

    // Абсолютное позиционирование
    position: absolute;

    // Позиция элемента
    left: 50px;
    right: 50px;
    bottom: 44px;
    z-index: 9;

    // Размер текста
    font-size: 24px;

    // При планшетном размере экрана
    @include mediaTablet {
        
        // Размер текста
        font-size: 20px;

        // Позиция элемента
        left: 30px;
        bottom: 30px;
    }
}
