// Секция с формой связи
.cta {

    // Внутренние отступы
    padding: 180PX 0;

    // Фон
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), 
                linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), 
                url("./../img/cta/cta-bg.png"), 
                #C4C4C4;
    
    // При планшетном размере экрана
    @include mediaTablet {
        
        // Внутренние отступы
        padding: 60px 0;
    }
}

// Заголовок формы
.cta__title {

    // Нижний внешний отступ
    margin-bottom: 17px;
}

// Обёртка для формы связи
.cta__wrapper {

    // Превращаем элемент в грид-контейнер (сетка)
    display: grid;

    // Разбиваем элементы по двум равным колонкам
    grid-template-columns: 1fr 1fr;

    // Расстояние между колонками
    gap: 30px;

    // При планшетном размере экрана
    @include mediaTablet {
        
        // Помещаем все элементы в одну колонку
        grid-template-columns: 1fr;
    }
}

// Описание формы
.cta__text {

    // Высота строки
    line-height: 1.5;

    // Если блок содержит два абзаца текста
    p + p {

        // Верхний отступ
        margin-top: 1em;
    }

    // При планшетном размере экрана
    @include mediaTablet {
        
        // Размер текста
        font-size: 14px;
    }
}

// Форма для связи
.cta__form {

    // Превращаем элемент в грид-контейнер
    display: grid;

    // Разбиваем элементы на две равные колонки
    grid-template-columns: 1fr 1fr;

    // Отступ между рядами и колонками
    gap: 35px 30px;

    // При планшетном размере экрана
    @include mediaTablet {
        
        // Помещаем все элементы в одну колонку
        grid-template-columns: 1fr;
    }
}
