// Блок с формой обратной связи
.feedback {

    // Нижний внутренний отступ
    padding-bottom: 180px;
}

// Блок с заголовком
.feedback__title {

    // Внешний нижний отступ
    margin-bottom: 38px;
}

.feedback__form {

    // Превращаем элемент в грид-контейнер (сетка)
    display: grid;

    // Разбиваем внутренние элементы по четырём равным колонкам
    grid-template-columns: repeat(4, 1fr);

    // Отступы между колонками
    gap: 30px;

    // Выравниваем внутренние элементы по центру колонок
    align-items: center;
}
