// Блок с формой обратной связи
.feedback {

    // Нижний внутренний отступ
    padding-bottom: 180px;

    // При планшетном размере экрана
    @include mediaTablet {

        // Внутренний нижний отступ
        padding-bottom: 90px;
    }
}

// Блок с заголовком
.feedback__title {

    // Внешний нижний отступ
    margin-bottom: 38px;

    // При планшетном размере экрана
    @include mediaTablet {

        // Внешний нижний отступ
        margin-bottom: 30px;
    }
}

.feedback__form {

    // Превращаем элемент в грид-контейнер (сетка)
    display: grid;

    // Разбиваем внутренние элементы по четырём равным колонкам
    grid-template-columns: repeat(4, 1fr);

    // Отступы между колонками
    gap: 30px;

    // Выравниваем внутренние элементы по центру колонок
    align-items: center;

    // При планшетном размере экрана
    @include mediaTablet {

        // Помещаем все элементы в одну колонку
        grid-template-columns: 1fr;
    }
}
