// Футер сайта
.footer {

    // Внутренние отступы
    padding-top: 72px;
    padding-bottom: 51px;

    // Цвет фона
    background-color: $footer-bg;

    // Размер текста
    font-size: 14px;

    // Межсимвольный интервал
    letter-spacing: 0.05em;
}

// Сетка с элементами футера
.footer__grid {

    // Превращаем элемент в грид-контейнер (сетку)
    display: grid;

    // Разбиваем внутренние элементы по четырём равным колонкам
    grid-template-columns: repeat(4, 1fr);

    // Отступы между колонками
    gap: 30px;
}

.footer__logo {

    // Верхний внешний отступ
    margin-top: -12px;
}

// Список элементов навигации
.footer__nav-list {

    // Превращаем элемент в грид-контейнер (сетку)
    display: grid;

    // Отступ между рядами и колонками
    gap: 15px;
}

// Блок с адресами
.footer__address {

    // Превращаем элемент в грид-контейнер (сетку)
    display: grid;

    // Отступ между внутренними элементами
    gap: 20px;
}

// Список с социальными сетями
.footer__socials {

    // Превращаем элемент во флекс-контейнер
    display: flex;

    // Выравниваем флекс-элементы по центру
    align-items: center;

    // Расстояние между колонками
    column-gap: 20px;
}
