// Хедер
.header {

    // Превращаем элемент во флекс-контейнер
    display: flex;

    // Распределяем флекс-элементы в колонну 
    flex-direction: column;

    // Равномерно распределяем элементы, прижав крайние к краям
    justify-content: space-between;

    // Внутренние отступы
    padding-top: 30px;
    padding-bottom: 74px;

    // Минимальная высота
    min-height: min(840px, 100vh);

    // Фон
    background: 
        linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), 
        url("./../img/header/header-bg.png");
}

// Блок для выравнивания элементов в строку
.header__top-row {

    // Превращаем элемент во флекс-контейнер
    display: flex;

    // Равномерно распределяем элементы, прижав крайние к краям
    justify-content: space-between;

    // Выравниваем флекс-элементы по центру
    align-items: center;
}

// Блок с навигацией
.header__nav {

    // Миксин с медиа-запросом для планшета
    @include mediaTablet {

        // Скрываем элемент
        display: none;
    }
}

// Блок с кнопкой открытия меню в мобильном режиме
.header__nav-btn {

    // Скрываем элемент
    display: none;

    // Миксин с медиа-запросом для планшета
    @include mediaTablet {

        // Блочное отображение
        display: block;
    }
}

// Заголовок хедера
.header__title {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Внутренний нижний отступ
    padding-bottom: 121px;

    // Выравниваем текст по центру
    text-align: center;

    // Размер шрифта
    font-size: 48px;

    // Шрифт
    font-family: $font-accent;

    // Цвет текста
    color: $accent;

    // Начертание шрифта
    font-weight: 700;
}

// Изображение ссылки в заголовке хедера 
.header__title-icon {

    // Абсолютное позиционирование
    position: absolute;

    // Позиция элемента
    bottom: 0;
    left: 50%;

    // Сдвигаем элемент для выравнивания по центру
    transform: translate(-50%, 0);
}

// Нижний блок хедера (адрес и телефон)
.header__footer {

    // Превращаем элемент в грид-контейнер
    display: grid;

    // Разбиваем элемент на две равные колонки
    grid-template-columns: 1fr 1fr;

    // Расстояние между колонками
    gap: 90px;
}
