// Информационные ссылки
.info {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Размер шрифта
    font-size: 18px;

    // Для ссылок со значками в виде псевдоэлементов
    &--map, &--phone {

        // Внутренний левый отступ
        padding-left: 35px;

        // Псевдоэлемент перед элементом
        &::before {
            
            // Содержимое псевдоэлемента
            content: "";

            // Абсолютное позиционирование
            position: absolute;

            // Позиция псевдоэлемента
            left: 0;
            top: 50%;

            // Размеры псевдоэлемента
            width: 21px;
            height: 21px;

            // Сдвигаем псевдоэлемент
            transform: translate(0, -50%);

            // Убираем повторение фонового изображения 
            background-repeat: no-repeat;

            // Размещаем фоновое изображение по центру
            background-position: center;
        }
    }

    // Псевдоэлемент перед элементом (значок адреса)
    &--map::before {

        // Фоновое изображение
        background-image: url("./../img/header/map.svg");
    }

    // Псевдоэлемент перед элементом (значок телефона)
    &--phone::before {

        // Фоновое изображение
        background-image: url("./../img/header/phone.svg");
    }

    // Медиа-запрос для планшетного размера
    @include mediaTablet {
        
        // Размер текста
        font-size: 14px;

        // Для ссылок со значками в виде псевдоэлементов
        &--map, &--phone {

            // Внутренний левый отступ
            padding-left: 26px;
        }
    }
}
