// Навигация
.nav {

    // Размер шрифта
    font-size: 14px;

    // Межсимвольный отступ
    letter-spacing: 0.05em;
}

// Меню навигации
.nav__list {

    // Превращаем элемент во флекс-контейнер
    display: flex;

    // Отступ между колонками
    column-gap: 40px;
}
