// Секция с картой
.section-map {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Внутренние отступы
    padding: 180px 0;

    // Псевдоэлемент до элемента
    &::before {

        // Содержимое псевдоэлемента
        content: "V";

        // Абсолютное позиционирование
        position: absolute;

        // Позиция псевдоэлемента
        top: 180px;
        right: calc(50% + 555px);
        z-index: -1;

        // Сдвигаем псевдоэлемент
        transform: translate(50%, 0);

        // Межстрочный интервал
        line-height: 1;

        // Непрозрачность
        opacity: 0.02;

        // Размер шрифта
        font-size: 400px;

        // Шрифт
        font-family: $font-accent;
    }
}

// Блок с заголовком
.section-map__title {

    // Внешний нижний отступ
    margin-bottom: 80px;
}

// Карта
.map {

    // Высота
    height: 358px;

    // Фон
    background: #626262;
}
