// Секция с картой
.section-map {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Внутренние отступы
    padding: 180px 0;

    // Псевдоэлемент до элемента
    &::before {

        // Содержимое псевдоэлемента
        content: "V";

        // Позиция псевдоэлемента
        right: calc(50% + 555px);

        // Сдвигаем псевдоэлемент
        transform: translate(50%, 0);

        // Подключаем миксин со стилем для декоративных римских чисел
        @include decorNumber;

        // Позиция псевдоэлемента
        top: 180px;

        // Межстрочный интервал
        line-height: 1;
    }
}

// Блок с заголовком
.section-map__title {

    // Внешний нижний отступ
    margin-bottom: 80px;
}

// Карта
.map {

    // Высота
    height: 358px;

    // Фон
    background: #626262;
}
