// Секция с картой
.section-map {

    // Внутренние отступы
    padding: 180px 0;
}

// Блок с заголовком
.section-map__title {

    // Внешний нижний отступ
    margin-bottom: 80px;
}

// Карта
.map {

    // Высота
    height: 358px;

    // Фон
    background: #626262;
}
