// Секция с видео
.video {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Выравниваем содержимое элемента по центру
    text-align: center;

    // Максимальная ширина
    max-width: 100vw;

    // Скрываем объекты, выходящие за пределы элемента
    overflow: hidden;

    // Псевдоэлемент после элемента
    &::after {

        // Содержимое псевдоэлемента
        content: "VI";

        // Позиция псевдоэлемента
        left: calc(50% + 555px);
        z-index: -1;

        // Сдвигаем псевдоэлемент
        transform: translate(-50%, 0);

        // Подключаем миксин со стилем для декоративных римских чисел
        @include decorNumber;
    }
}

// Ссылка на видео
.video__link {

    // Статичное позиционирование с возможностью сдвига
    position: relative;

    // Строчно-блочное отображение
    display: inline-block;

    // Выравниваем содержимое элемента по центру
    text-align: center;

    // Псевдоэлемент перед элементом
    &::before {

        // Содержимое псевдоэлемента
        content: "";

        // Абсолютное позиционирование
        position: absolute;

        // Позиция
        left: 0;
        top: 0;

        // Размеры
        width: 100%;
        height: 100%;

        // Фон
        background: rgba(36, 43, 51, 0.8);

        // Плавный переход при изменении цвета фона 
        transition: background-color 0.2s ease-in;
    }

    // Псевдоэлемент перед элементом при наведении курсора на элемент
    &:hover::before {

        // Фон
        background: rgba(36, 43, 51, 0.7);
    }
}

// Значок воспроизведения видео
.video__icon {

    // Абсолютное позиционирование
    position: absolute;

    // Позиция элемента
    left: 50%;
    top: 50%;

    // Сдвигаем элемент для размещения по середине
    transform: translate(-50%, -50%);

    // Добавляем плавный переход при изменении свойств элемента
    transition: all 0.2s ease-in;
}

// Значок воспроизведения видео при наведении курсора на ссылку на видео
.video__link:hover .video__icon {

    // Масштабируем элемент и сдвигаем его для выравнивания
    transform: translate(-50%, -50%) scale(1.2);

    // Увеличиваем яркость изображения
    filter: saturate(1.5);
}
