//* Файл с базовыми стилями

// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

// Тело страницы
body {

    // Шрифт
    font-family: $font-main;

    // Цвет фона
    background-color: $dark;

    // Цвет текста
    color: $white;

    // Размер шрифта
    font-size: 16px;
}

// Ссылки
a {

    // Цвет текста
    color: $white;

    // Плавный переход при изменении цвета
    transition: color 0.2s ease-in;

    // Стиль при наведении курсора
    &:hover {

        // Цвет текста
        color: $accent;
    }
}

// Контейнер для ограничения элементов по ширине
.container {

    // Внешние отступы (выравниваем элемент по центру страницы)
    margin: 0 auto;

    // Внутренние отступы
    padding: 0 15px;

    // Ширина
    width: 1140px;

    // Модификатор для маленького контейнера
    &--small {

        // Ширина
        width: 840px;
    }
}

// Блок для выравнивания элементов по правому краю
.text-right {

    // Выравниваем элементы по правому краю
    text-align: right;
}

// Класс для скрытия элементов
.visually-hidden {

    // Свойства для скрытия элемента
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// Класс для скрытия элементов
.none {

    // Отключаем отображение элемента
    // (Данное свойство перебивает другие свойства)
    display: none !important;
}

// Заголовок второго уровня
.title-2 {

    // Размер шрифта
    font-size: 36px;

    // Шрифт
    font-family: $font-accent;

    // Цвет шрифта
    color: $accent;

    // Толщина шрифта
    font-weight: 700;
}
