//* Файл с миксинами

// Миксин для декоративных римских чисел
@mixin decorNumber {

    // Абсолютное позиционирование
    position: absolute;

    // Позиция элемента
    top: 0;
    z-index: -1;

    // Межстрочный интервал
    line-height: 1.2;

    // Непрозрачность
    opacity: 0.02;

    // Размер шрифта
    font-size: 400px;

    // Шрифт
    font-family: $font-accent;
}
