//* Файл с переменными

//* Шрифты

// Базовый шрифт
$font-main: 'Raleway', sans-serif;

// Акцентный шрифт для заголовков
$font-accent: 'Playfair Display', serif;

// Вторичный шрифт
$font-secondary: 'Roboto', sans-serif;

//* Цвета

// Тёмный цвет (в основном для фона)
$dark: #242B33;

// Акцентный цвет (в основном для заголовков)
$accent: #D4C17F;

// Белый цвет (в основном для обычного текста)
$white: #FFF;

// Цвет фона футера
$footer-bg: #2D343C;

// Цвет текста плейсхолдера
$placeholder: #BEBEBE;

// Приглушённый цвет
$muted: #E7E7E7;

//* Медиа-запросы

// Точка перелома для планшетов
$tablet: 999px;
